@media  (max-width: 480px){
    .header{
        display: none;
    }

    .conteiner__list{
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .text-header__project{
        margin: auto;
        height: 100px;
        padding-top: 80px;
        align-items: center;
    }

    .project__text{
        text-align: center;
        padding: 0;
        align-items: center;
        margin: 0;
    }

    .line__projects{
        margin: auto;
        margin-top: 10px;
    }

    .project__information{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 350px;
    }

    .project_picture{
        width: 100%;
    }

    .project_picture img{
        width: 100%;
    }

    .text__info p{
        margin-bottom: 50px;
    }

   
    .button__projects{
        width: 100%;
    }

    .button{
        width: 100%;
    }
}